---
IndentWidth: 4
---
Language: Cpp

PointerAlignment: Left

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma

ColumnLimit: 0

IndentCaseLabels: true

SortUsingDeclarations: true

Standard: Cpp11

MacroBlockBegin: METHOD_BEGIN|ASYNC_BEGIN|CALLBACK_BEGIN
MacroBlockEnd: METHOD_END|ASYNC_END|CALLBACK_END
---

