---
IndentWidth: 4
---
Language: Cpp

PointerAlignment: Left

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma

ColumnLimit: 0

SortUsingDeclarations: true

Standard: Cpp11
---
