# Visual Studio Cache
.vs

# Visual Studio Output
bin
obj

# Node-gyp Output
build

# Node-gyp Config
binding.gyp

# Node Modules
node_modules

# Node-gyp SDK
include/node
lib/node
lib/node-sdk
