# Node-gyp output
build

# Node Modules
#node_modules

node-svn-*.tgz

# Visual Studio Code config
.vscode

# Tests
test

# Clang-format config
.clang-format

.gitmodules

appveyor.yml

deps/**
!deps/**/*.c
!deps/**/*.h
!deps/**/*.inc
!deps/**/*.S
!deps/**/*.asm
!deps/**/*.gyp
!deps/**/*.gypi

.npmrc
