# Visual Studio cache
.vs

# Visual Studio output
bin
obj

# Node-gyp output
build

# (include) Node.js modules
# node_modules

# Node-gyp SDK
node-gyp
include/node
lib/node

# Visual Studio Code config
.vscode

# Clang-format config
.clang-format

# Visual Studio project files
node-svn.sln
node-svn.vcxproj
node-svn.vcxproj.filters
node-svn.vcxproj.user

# Node.js include and library
include/node
lib/node.lib

# Tests
tests
